<form method="post" action="{{ path('blood_product_delete', {'id': blood_product.id, 'codeName': app.session.get('bloodBank').codename}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blood_product.id) }}">
    <button class="btn btn-danger">Delete <i class="fa fa-trash"></i></button>
</form>