{% extends 'layout.html.twig' %}

{% block title %}Order{% endblock %}

{% block main %}
    <div class="row mb-1">
        <div class="col">
            <a href="{{ path('order_index', {'codeName': app.session.get('bloodBank').codeName}) }}"
                class="text-decorarion-none" style="color: #00000080; font-size: small;"><i class="fa fa-arrow-left"></i>
                Orders</a>
        </div>
    </div>
    <h3 class="h3 font-weight-bold">Order</h3>

    <div class="row">
        <div class="col-md-7">
            <div class="card table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>#{{ order.id }}</td>
                            </tr>
                            <tr>
                                <th>Created at</th>
                                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

    
    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
